@if(travel()) {
    <div class="page-title">
        <div class="title-container">
            <h1>{{ travel().title }}</h1>
            <p>{{ travel().description }}</p>
        </div>
    </div>
    <a href="/home">← Accueil</a>
    <div class="steps-list">
    @for(step of steps(); track step.id) {
        <div class="step-card">
            <div class="step-title">
                <span (click)="deleteStep(step.id!)" class="delete-button">&#128465;</span>
                <app-steps [step]="step" />
            </div>
        </div>
    }
    </div>
}